html {
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: lightgray;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 50px;
}

/*=============== HEADER ===============*/

header {
    height: 50px;
    background-color: rgb(57, 58, 59);
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav li {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

nav ul {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

.img-container {
    width: 50%;
    display: flex;
    margin-left: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

/*=============== INTRO SECTION ===============*/

.intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro::before {
    content: "";
    background-image: url("img/intro-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}

.intro-content {
    height: 50%;
    z-index: 1;
}

.intro h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

.intro p {
    margin-bottom: 50px;
}

.intro a {
    text-decoration: none;
    color: rgb(57, 58, 59);
    border: 2px solid rgb(57, 58, 59);
    padding: 20px;
    border-radius: 5px;
}

/*=============== About Section ===============*/

.about {
    width: 100%;
    height: 100vh;
    padding-top: 75px;
}

.about-title-container {
    display: flex;
    align-items: center;
}

.about-title-container hr {
    flex: 1;
    height: 0;
}

.about h2 {
    font-size: 65px;
    padding: 10px;
}

.about-p {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.about-p ul {
    display: flex;
    flex-direction: column;
    height: 60px;
    flex-wrap: wrap;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-container img {
    width: 25%;
    height: auto;
}

/*=============== Projects Section ===============*/

.projects {
    width: 100%;
    min-height: 100vh;
    padding-top: 75px;
    background-color: white;
}

.projects-title-container {
    display: flex;
    align-items: center;
}

.projects-title-container hr {
    flex: 1;
    height: 0;
}

.projects h2 {
    font-size: 65px;
    padding: 10px;
}

/*=============== Other Projects Section ===============*/

.other-projects {
    width: 100%;
    min-height: 100vh;
    padding-top: 75px;
}

.other-projects-title-container {
    display: flex;
    align-items: center;
}

.other-projects hr {
    flex: 1;
    height: 0;
}

.other-projects h2 {
    font-size: 65px;
    padding: 10px;
}

/*=============== Contact Section ===============*/

.contact {
    width: 100%;
    height: 70vh;
    background-color: white;
    padding-top: 75px;
}

.contact-title-container {
    display: flex;
    align-items: center;
}

.contact hr {
    flex: 1;
    height: 0;
}

.contact h2 {
    font-size: 65px;
    padding: 10px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact img {
    width: 50px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

/*=============== Footer ===============*/

footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}